.main{
    padding:50px;
}

.image{
    width:150px;
    padding:20px;
}

.background{
    background-color:#333333;
    background-size:cover;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    font-family: Arial, sans-serif;
    color: #333;
}

th, td {
    padding: 12px 20px;
    text-align: center;
    border-bottom: 2px solid #ddd;
    border-right: 1px solid #ddd;
}

th {
    background-color: #5A5EE6;
    color: white;
    text-transform: uppercase;
}

tr:hover {
    background-color: #eee;
}


.create-container {
    display:flex;
    justify-content:space-between;
    margin-bottom: 10px;
    padding-bottom:10px;
}

.create-container button {
    padding: 18px;
    background-color: #4CAF50;
    border: none;
    border-radius:4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left:5px;
}

.create-container a {
    text-decoration:none;
    padding: 18px;
    background-color: #c0272f;
    border: none;
    border-radius:4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left:5px;
}

.create-container button:hover {
    background-color: #45a049;
}

.create-container a:hover {
    background-color:  #ad171f;
}

.No{
    width: 70px;
}

.table-container, table{
    max-height: 550px; 
    overflow-y: scroll;
    overflow-x: auto;
}

.courseInfo{
    text-align:left;
    width: 900px;
}

